<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--OSS BucketName-->
    <add key="BucketName" value="ossbucket" />
    <!--OSS EndPoint-->
    <add key="EndPoint" value="oss-cn-hangzhou.aliyuncs.com" />
    <!--<add key="EndPoint" value="oss-cn-hangzhou-internal.aliyuncs.com"/>-->
    <!--阿里云AccessKeyId-->
    <add key="AccessKeyId" value="alikey" />
    <!--阿里云AccessKeySecret-->
    <add key="AccessKeySecret" value="alisecret" />
    <!--发布者ID-->
    <add key="ProducerId" value="producerid" />
    <!--适配消费者ID-->
    <add key="ConsumerId" value="groupid" />
    <add key="MQLog" value="d:\\MQLog" />
    <!--主题-->
    <add key="Topic" value="topic" />

    <add key="cfgUrl" value="http://127.0.0.1:8888" />

    <add key="mongodb" value="mongodb://root:123456@127.0.0.1:27017/admin?replicaSet=mgset-3015103" />

    <add key="mySqlcon" value="Server=127.0.0.1;Port=3306;initial catalog=database;uid=root;pwd=123123;Allow User Variables=True" />
    
    <!--MongoDB数据库名称-->
    <add key="databasename" value="database" />
    <!--MongoDB数据库主表名称-->
    <add key="mainTable" value="collections" />
    <add key="times" value="09:20,16:42" />
    <!--是否是测试，走不走后续逻辑-->
    <add key="isTest" value="true" />
  </appSettings>
</configuration>
