<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>

    <target name="log" xsi:type="File" fileName="${basedir}/Log/${shortdate}_log.txt"/>
    <target name="debug" xsi:type="File" fileName="${basedir}/Log/${shortdate}_debug.txt"/>
    <target name="trace" xsi:type="File" fileName="${basedir}/Log/${shortdate}_trace.txt"/>
    <target name="exception" xsi:type="File" fileName="${basedir}/Log/${shortdate}_exception.txt" layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="system" xsi:type="File" fileName="${basedir}/Log/System.txt"></target>
  </targets>
  <rules>
    <logger name="system" level="Info" writeTo="system" />
    <logger name="*" level="Debug" writeTo="debug"/>
    <logger name="*" level="Trace" writeTo="trace"/>
    <logger name="*" level="Info" writeTo="log"/>
    <logger name="*" level="Error" writeTo="exception"/>
  </rules>
  <enable>true</enable>
  <!--日志保留的最大天数-->
  <maxlimit>5</maxlimit>
</nlog>
